.font-size-xs,
.font-size-sm,
.font-size-md,
.font-size-lg,
.font-size-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-clr;
}

.font-size-xs {
    // imported by labels
    &,
    &::before,
    &::after {
        font-size: $font-size-xs;
    }
}

.font-size-sm {
    &,
    &::before,
    &::after {
        font-size: $font-size-sm;
    }
}

.font-size-md {
    &,
    &::before,
    &::after {
        font-size: $font-size-md;
    }
}

.font-size-lg {
    &,
    &::before,
    &::after {
        font-size: $font-size-lg;
    }
}

.font-size-xl {
    &,
    &::before,
    &::after {
        font-size: $font-size-xl;
    }
}

h1 {
    font-size: 46px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 56px;
}

h2 {
    font-size: 46px;
    font-family: 'Roboto';
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
}

h5 {
    // font-size: 
}

h6 {
    // font-size: 
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.text-underline {
    text-decoration: underline;
}

$url: "/assets/fonts";
$robotoUrl: "/roboto";
// break here
// @font-face {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 250;
//     src: url($url + $robotoUrl + '/Roboto Thin 250.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Roboto';
//     font-style: italic;
//     font-weight: 250;
//     src: url($url + $robotoUrl + '/Roboto Thin Italic 250.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 300;
//     src: url($url + $robotoUrl + '/Roboto Light 300.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Roboto';
//     font-style: italic;
//     font-weight: 300;
//     src: url($url + $robotoUrl + '/Roboto Light Italic 300.ttf') format('truetype');
// }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url($url + $robotoUrl + '/Roboto-Regular.ttf') format('truetype');
}

// @font-face {
//     font-family: 'Roboto';
//     font-style: italic;
//     font-weight: 400;
//     src: url($url + $robotoUrl + '/Roboto Italic 400.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 500;
//     src: url($url + $robotoUrl + '/Roboto Medium 500.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Roboto';
//     font-style: italic;
//     font-weight: 500;
//     src: url($url + $robotoUrl + '/Roboto Medium Italic 500.ttf') format('truetype');
// }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url($url + $robotoUrl + '/Roboto-Bold.ttf') format('truetype');
}

// @font-face {
//     font-family: 'Roboto';
//     font-style: italic;
//     font-weight: 700;
//     src: url($url + $robotoUrl + '/Roboto Bold Italic 700.ttf') format('truetype');
// }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url($url + $robotoUrl + '/Roboto-Black.ttf') format('truetype');
}

// @font-face {
//     font-family: 'Roboto';
//     font-style: italic;
//     font-weight: 900;
//     src: url($url + $robotoUrl + '/Roboto Black Italic 900.ttf') format('truetype');
// }