// MEDIA QUIERY FIXED POINTS
$screen-size_xs: 576px;
$screen-size_sm: 576px;
$screen-size_md: 768px;
$screen-size_lg: 992px;
$screen-size_xl: 1200px;
// TYPOGRAPHY SIZES
$font-size_xs: 10px;
$font-size_sm: 12px;
$font-size_md: 15px;
$font-size_lg: 18px;
$font-size_xl: 20px;
$font-clr_primary: #414141;
$font-clr_secondary: #414141;
// CORE 
$clr-border: #c9c9c9;
// || THENE
// DEFAULTS 
$clr-default: #FFFFFF;
$clr-extra_dark: #6E6E6E;
$clr-dark: #6E6E6E;
$clr-light: #DDDDDD;
$clr-extra_light: #E4E5E6;
// PRIMARY 
$clr-primary: #5586B1;
$clr-primary__dark: #546D82;
$clr-primary__light: #546D82;
// SECONDARY 
$clr-secondary: #EB1D36;
$clr-secondary__dark: #bf2c3e;
$clr-secondary__light: #bf2c3e;
// SUCCESS
$clr-success: #2ec18b;
$clr-success__dark: #1a8960;
$clr-success__light: #1a8960;
// INFO
$clr-info: #2991AC;
$clr-info__dark: #2991AC;
$clr-info__light: #2991AC;
// WARNING
$clr-warning: #ff6600;
$clr-warning__dark: #ff6600;
$clr-warning__light: #ff6600;
// DANGER
$clr-danger: #ad6565; // #ce7575;
$clr-danger__dark: #D50108;
$clr-danger__light: #ad6565;
// ----
// border colours
$animation-speed: 300ms;
//
$themes: ("primary": ("default": $clr-primary, "dark":$clr-primary__dark, "light":$clr-primary__light), "secondary": ("default": $clr-secondary, "dark":$clr-secondary__dark, "light":$clr-secondary__light), "success": ("default": $clr-success, "dark":$clr-success__dark, "light":$clr-success__light), "info": ("default": $clr-info, "dark":$clr-info__dark, "light":$clr-info__light), "warning": ("default": $clr-warning, "dark":$clr-warning__dark, "light":$clr-warning__light), "danger": ("default": $clr-danger, "dark":$clr-danger__dark, "light":$clr-danger__light), "default": ("default": $clr-default, "dark":$clr-secondary__dark, "light":$clr-secondary__light), );