.fadeIn {
    opacity: 0;
    animation: 300ms fadeIn forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.icon-spin {
    display: inline-flex;

    &.active {
        animation: spin-animation 0.5s infinite;
    }

}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}


@import "animations/vue_transitions";
